In [7]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
import os

In [170]:
RAW = df[['State Code', 'District Code', 'Area Name','Total/ Rural/ Urban', 'Age-group']]
for row in RAW.iterrows():
    RAW['Area Name'] = State_Name

C:\Users\Heidiki\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [171]:
RAW

,State Code,District Code,Area Name,Total/ Rural/ Urban,Age-group
53,11,1,State - SIKKIM 11,Rural,0-4
54,11,1,State - SIKKIM 11,Rural,5-9
55,11,1,State - SIKKIM 11,Rural,10-19
56,11,1,State - SIKKIM 11,Rural,20-29
57,11,1,State - SIKKIM 11,Rural,30-39
...,...,...,...,...,...
190,11,4,State - SIKKIM 11,Urban,60-69
191,11,4,State - SIKKIM 11,Urban,70-79
192,11,4,State - SIKKIM 11,Urban,80-89
193,11,4,State - SIKKIM 11,Urban,90+
194,11,4,State - SIKKIM 11,Urban,Age not stated

In [172]:
'''
    This cell input the RAW data that doesn't change & df['Type of disablity - In seeing - Females'] 
    Output DataFrame Disabled_Female_Seeing
'''
DATA = pd.DataFrame()

ColumnList = ['Type of disablity - In seeing - Males'
              ,'Type of disablity - In seeing - Females'
              , 'Type of disablity - In speech - Males'
              ,'Type of disablity - In speech - Females'
              ,'Type of disablity - In hearing - Males'
              ,'Type of disablity - In hearing - Females'
              ,'Type of disablity - In movement - Males'
              ,'Type of disablity - In movement - Females'
              ,'Type of disablity - Mental - Males'
              ,'Type of disablity - Mental - Females']

for col_name in ColumnList:
    #Extracting Gender & Type from column name
    l = col_name.split(' - ')
    Disability_type = l[1]
    Gender = l[2]
    Gender = Gender[0:len(Gender)-1]
    #Extracting Gender & Type from column name


    New_Data = RAW.copy()
    for row in New_Data.iterrows():
        New_Data['Gender'] = Gender
        New_Data['Type'] = Disability_type

    New_Data['Rate'] = df[col_name]
    
    frames = [DATA,New_Data]
    DATA = pd.concat(frames)

In [173]:
DATA.shape

(960, 8)

In [174]:
DATA

,State Code,District Code,Area Name,Total/ Rural/ Urban,Age-group,Gender,Type,Rate
53,11,1,State - SIKKIM 11,Rural,0-4,Male,In seeing,32
54,11,1,State - SIKKIM 11,Rural,5-9,Male,In seeing,46
55,11,1,State - SIKKIM 11,Rural,10-19,Male,In seeing,83
56,11,1,State - SIKKIM 11,Rural,20-29,Male,In seeing,98
57,11,1,State - SIKKIM 11,Rural,30-39,Male,In seeing,88
...,...,...,...,...,...,...,...,...
190,11,4,State - SIKKIM 11,Urban,60-69,Female,Mental,1
191,11,4,State - SIKKIM 11,Urban,70-79,Female,Mental,2
192,11,4,State - SIKKIM 11,Urban,80-89,Female,Mental,0
193,11,4,State - SIKKIM 11,Urban,90+,Female,Mental,0
194,11,4,State - SIKKIM 11,Urban,Age not stated,Female,Mental,0

In [9]:
def load_del40_deltot_save(filepath):
    '''
    This function loads files deletes all totals and saves files in new folder named cleaned
    files named with state name
    '''
    rawdata = pd.read_excel(filepath)
    
    State_Name = rawdata['Area Name'][1]
    State_Name = State_Name[0:len(State_Name)-4]
    dropped40rows = rawdata[41:]
    DroppedTtl_Ru_Ur = dropped40rows.drop(dropped40rows[dropped40rows["Total/ Rural/ Urban"] == "Total"].index)
    droppedTotals = DroppedTtl_Ru_Ur.drop(DroppedTtl_Ru_Ur[DroppedTtl_Ru_Ur["Age-group"] == "Total"].index)
        
    
    df = droppedTotals
    
    df.drop('Total disabled population - Persons', axis=1, inplace=True)
    df.drop('Total disabled population - Males', axis=1, inplace=True)
    df.drop('Total disabled population - Females', axis=1, inplace=True)
    df.drop('Type of disablity - In seeing - Persons', axis=1, inplace=True)
    df.drop('Type of disablity - In speech - Persons', axis=1, inplace=True)
    df.drop('Type of disablity - In hearing - Persons', axis=1, inplace=True)
    df.drop('Type of disablity - In movement - Persons', axis=1, inplace=True)
    df.drop('Type of disablity - Mental - Persons', axis=1, inplace=True)
    
   
    savepath = r"./2001_Cleaned/"+ State_Name + ".csv"
    df.to_csv (savepath,index = False)

In [10]:
import os
filelist = os.listdir("./2001/")

for path in filelist:
    print(path)
    load_del40_deltot_save("./2001/" + path)

DDWC-000020.xls
DDWC-010020.xls
DDWC-020020.xls
DDWC-030020.xls
DDWC-040020.xls
DDWC-060020.xls
DDWC-070020.xls
DDWC-080020.xls
DDWC-090020.xls
DDWC-100020.xls
DDWC-110020.xls
DDWC-120020.xls
DDWC-130020.xls
DDWC-140020.xls
DDWC-150020.xls
DDWC-160020.xls
DDWC-170020.xls
DDWC-180020.xls
DDWC-190020.xls
DDWC-200020.xls
DDWC-210020.xls
DDWC-230020.xls
DDWC-240020.xls
DDWC-270020.xls
DDWC-280020.xls
DDWC-310020.xls
DDWC-320020.xls
DDWC-330020.xls
DDWC-350020.xls

In [23]:
def loadcleaned_savemksel(filepath):
    
    rawdata = pd.read_csv(filepath)
    file_name = os.path.basename(filepath) 
    
    RAW = rawdata[['State Code', 'District Code', 'Area Name','Total/ Rural/ Urban', 'Age-group']]
    State_Name = rawdata['Area Name'][1]
    State_Name = State_Name[0:len(State_Name)-4]
    
    
    #Adjusting State Name
    for row in RAW.iterrows():
        RAW['State'] = file_name[7:len(file_name)-4]
    
    RAW['City'] = RAW['Area Name'].apply((lambda x: str(x[10:len(x)-4])))
    
    df.drop('Area Name', axis=1, inplace=True)    
    
    #Adjusting City Name Name
    #for row in RAW.iterrows():
     #   RAW['City'] = str(row["Area Name"])[10:len(row['Area Name'])-4]
        
    '''
        This cell input the RAW data that doesn't change & df['Type of disablity - In seeing - Females'] 
        Output DataFrame Disabled_Female_Seeing
    '''
    DATA = pd.DataFrame()

    ColumnList = ['Type of disablity - In seeing - Males'
                  ,'Type of disablity - In seeing - Females'
                  , 'Type of disablity - In speech - Males'
                  ,'Type of disablity - In speech - Females'
                  ,'Type of disablity - In hearing - Males'
                  ,'Type of disablity - In hearing - Females'
                  ,'Type of disablity - In movement - Males'
                  ,'Type of disablity - In movement - Females'
                  ,'Type of disablity - Mental - Males'
                  ,'Type of disablity - Mental - Females']

    for col_name in ColumnList:
        #Extracting Gender & Type from column name
        l = col_name.split(' - ')
        Disability_type = l[1]
        Gender = l[2]
        Gender = Gender[0:len(Gender)-1]
        #Extracting Gender & Type from column name


        New_Data = RAW.copy()
        for row in New_Data.iterrows():
            New_Data['Gender'] = Gender
            New_Data['Type'] = Disability_type

        New_Data['Rate'] = rawdata[col_name]

        frames = [DATA,New_Data]
        DATA = pd.concat(frames)
        
        savepath = r"./2001_keseled/" + file_name
        DATA.to_csv (savepath,index = False)

In [24]:
filelist = list(filter(lambda x: '.csv' in x, os.listdir("./2001_Cleaned/")))

for path in filelist:
    print(path)
    loadcleaned_savemksel("./2001_Cleaned/" + path)

State - ANDAMAN & NICOBAR ISLANDS.csv

C:\Users\Heidiki\Anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Heidiki\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app

State - ANDHRA PRADESH.csv
State - ARUNACHAL PRADESH.csv
State - ASSAM.csv
State - BIHAR.csv
State - CHANDIGARH.csv
State - DELHI.csv
State - GUJARAT.csv
State - HARYANA.csv
State - HIMACHAL PRADESH.csv
State - JAMMU & KASHMIR.csv
State - JHARKHAND.csv
State - KERALA.csv
State - LAKSHADWEEP.csv
State - MADHYA PRADESH.csv
State - MAHARASHTRA.csv
State - MANIPUR.csv
State - MEGHALAYA.csv
State - MIZORAM.csv
State - NAGALAND.csv
State - ORISSA.csv
State - PUNJAB.csv
State - RAJASTHAN.csv
State - SIKKIM.csv
State - TAMIL NADU.csv
State - TRIPURA.csv
State - UTTAR PRADESH.csv
State - WEST BENGAL.csv

In [292]:
rawdata = pd.read_csv("./2001_keseled/State - BIHAR.csv")

In [294]:
rawdata.columns

Index(['State Code', 'District Code', 'Area Name', 'Total/ Rural/ Urban',
       'Age-group', 'Gender', 'Type', 'Rate'],
      dtype='object')